h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

div.page-center {
	top:50%;
	left: 50%;
	transform: translate3d(-50%,-50%, 0);
	position: absolute;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
	cursor: pointer;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
	cursor: pointer;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
	cursor: pointer;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}
.days li:hover {
	padding: 5px;
    color: white !important;
	background: #3498db;
	
}

.choosen_day
{
	padding: 5px;
    color: white !important;
	background: red;
}

#test
{
    background-color:  red;
}



lekarz #pesel input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  background: transparent;
  width: 10em;
  font-size: 1em;
}

lekarz #pesel .input-wrapper,lekarz #pesel input[type="text"] {
  font-family: monospace;
  font-weight: bold;
  letter-spacing: .3em;
}

lekarz #pesel .input-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-bottom: .2em;
  font-size: 200%;
}

lekarz #pesel .input-wrapper:after {
  content: "———————————";
  line-height: .3em;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  color: grey;
}

email
{
    right : 100px;
    bottom : 0;
    position: fixed;
    z-index : 10;
}