<div style="padding: 20px;"></div>
<label  (click) = "test()">Najbliższe urzędy:</label>
<div class="row">
    <div class="col-lg-6 col-md-8">
        <div class="list-group">
            <button type="button" class="list-group-item" data-toggle="collapse" data-target="#urzad1">
                <span class="badge">1.8 km</span> ZUS I Oddział w Warszawie
            </button>
            <div class="panel panel-default collapse" id="urzad1">
                <div class="panel-body">
                    <b>Adres: </b> Warszawa ul. Senatorska 6/8<br>
                    <b>Kontakt: </b>(22) 560 16 00<br>
                    <b><span class="glyphicon glyphicon-road"> </span> 35, 33, 185</b> 
                    <button type="button" class="btn btn-info">
                        Sprawdź jak dojechać.
                    </button>
                    <urzedowanie>
                    </urzedowanie>
                    <h1><span class="glyphicon glyphicon-map-marker"></span>
                    <span class="glyphicon glyphicon-sunglasses"></span>
                    <span class="glyphicon glyphicon-thumbs-up"></span></h1>
                </div>
            </div>
            <button type="button" class="list-group-item" data-toggle="collapse" data-target="#urzad2">
                <span class="badge">2.8 km</span> ZUS II Oddział w Warszawie
            </button>
            <div class="panel panel-default collapse" id="urzad2">
                <div class="panel-body">
                    <b>Adres: </b> Warszawa ul. Senatorska 6/8<br>
                    <b>Kontakt: </b>(22) 560 16 00<br>
                    <b><span class="glyphicon glyphicon-road"> </span> 35, 33, 185</b> 
                    <button type="button" class="btn btn-info">
                        Sprawdź jak dojechać.
                    </button>
                    <urzedowanie>
                    </urzedowanie>
                    <h1><span class="glyphicon glyphicon-map-marker"></span>
                    <span class="glyphicon glyphicon-sunglasses"></span>
                    <span class="glyphicon glyphicon-thumbs-up"></span></h1>
                </div>
            </div>
            <button type="button" class="list-group-item" data-toggle="collapse" data-target="#urzad3">
                <span class="badge">3 km</span> ZUS III Oddział w Warszawie
            </button>
            <div class="panel panel-default collapse" id="urzad3">
                <div class="panel-body">
                    <b>Adres: </b> Warszawa ul. Senatorska 6/8<br>
                    <b>Kontakt: </b>(22) 560 16 00<br>
                    <b><span class="glyphicon glyphicon-road"> </span> 35, 33, 185</b> 
                    <button type="button" class="btn btn-info">
                        Sprawdź jak dojechać.
                    </button>
                    <urzedowanie>
                    </urzedowanie>
                    <h1><span class="glyphicon glyphicon-map-marker"></span>
                    <span class="glyphicon glyphicon-sunglasses"></span>
                    <span class="glyphicon glyphicon-thumbs-up"></span></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-8">
        <div class="list-group">
            <button type="button" class="list-group-item"data-toggle="collapse" data-target="#urzad4">
                <span class="badge">5 km</span>ZUS Inspektorat Warszawa-Ochota 
            </button>
            <div class="panel panel-default collapse" id="urzad4" >
                <div class="panel-body">
                    <b>Adres: </b> Warszawa ul. Senatorska 6/8<br>
                    <b>Kontakt: </b>(22) 560 16 00<br>
                    <b><span class="glyphicon glyphicon-road"> </span> 35, 33, 185</b> 
                    <button type="button" class="btn btn-info">
                        Sprawdź jak dojechać.
                    </button>
                    <urzedowanie>
                    </urzedowanie>
                    <h1><span class="glyphicon glyphicon-map-marker"></span>
                    <span class="glyphicon glyphicon-sunglasses"></span>
                    <span class="glyphicon glyphicon-thumbs-up"></span></h1>
                </div>
            </div>
            <button type="button" class="list-group-item" data-toggle="collapse" data-target="#urzad5">
                 <span class="badge">5.2 km</span>ZUS Inspektorat Warszawa-Praga    
            </button>
            <div class="panel panel-default collapse" id="urzad5">
                <div class="panel-body">
                    <b>Adres: </b> Warszawa ul. Senatorska 6/8<br>
                    <b>Kontakt: </b>(22) 560 16 00<br>
                    <b><span class="glyphicon glyphicon-road"> </span> 35, 33, 185</b> 
                    <button type="button" class="btn btn-info">
                        Sprawdź jak dojechać.
                    </button>
                    <urzedowanie>
                    </urzedowanie>
                    <h1><span class="glyphicon glyphicon-map-marker"></span>
                    <span class="glyphicon glyphicon-sunglasses"></span>
                    <span class="glyphicon glyphicon-thumbs-up"></span></h1>
                </div>
            </div>
            <button type="button" class="list-group-item" data-toggle="collapse" data-target="#urzad6">ZUS Inspektorat Warszawa-Żoliborz  
                <span class="badge">6 km</span>
            </button>
            <div class="panel panel-default collapse" id="urzad6">
                <div class="panel-body">
                    <b>Adres: </b> Warszawa ul. Senatorska 6/8<br>
                    <b>Kontakt: </b>(22) 560 16 00<br>
                    <b><span class="glyphicon glyphicon-road"> </span> 35, 33, 185</b> 
                    <button type="button" class="btn btn-info">
                        Sprawdź jak dojechać.
                    </button>
                    <urzedowanie>
                        {{czas}}
                    </urzedowanie>
                    <h1><span class="glyphicon glyphicon-map-marker"></span>
                    <span class="glyphicon glyphicon-sunglasses"></span>
                    <span class="glyphicon glyphicon-thumbs-up"></span></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="padding: 20px;"></div>

<label  (click) = "test()">Wybierz inny:</label>
<div style="padding: 10px;"></div>
<div class="row">
  <div class="col-lg-3 col-md-6">
    <label  (click) = "test()">Wojewodztwo:</label>
    <select class="form-control" [(ngModel)]="wojewodztwo">
        <option>Wybierz...</option>
        <option>Lubelskie</option>
        <option>Mazowieckie</option>
        <option>Pomorskie</option>
        <option>Świętokrzyskie</option>
        <option>Małopolskie</option>
    </select>
</div>
<div class="col-lg-3 col-md-6">
    <label>Gmina:</label>
    <select class="form-control" [(ngModel)]="gmina" [disabled]="wojewodztwo ==''">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>
<div class="col-lg-3 col-md-6">
    <label>Powiat/Miasto:</label>
    <select class="form-control" [(ngModel)]="powiat" [disabled]="gmina ==''">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>
<div class="col-lg-3 col-md-6">
    <label>{{geo}}Urząd:</label>
    <select class="form-control" [(ngModel)]="urzad" [disabled]="powiat ==''">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>
</div>  

<div *ngIf="urzad !=''" style="padding: 60px;">
    <div class="month"> 
    <ul>
        <li class="prev">&#10094;</li>
        <li class="next">&#10095;</li>
        <li>
        Marzec<br>
        <span style="font-size:18px">2016</span>
        </li>
    </ul>
    </div>

    <ul class="weekdays">
    <li>Pn</li>
    <li>Wt</li>
    <li>Śr</li>
    <li>Czw</li>
    <li>Ptk</li>
    <li>So</li>
    <li>Ndz</li>
    </ul>
    <ul class="days">
    <li *ngFor="let item of fakeArray; let i = index;" >
        <span *ngIf = "(i+1) != czas">{{i+1}}</span>
        <span  class="active" *ngIf = "(i+1) == czas">{{i+1}}</span>
    </li>
    </ul>
</div>

<div style="padding: 40px;"></div>
<div class="row">
<div class="col-lg-4 col-md-8">
    <label  *ngIf="urzad !=''">Wybierz temat wizyty:</label>
 <select class="form-control" multiple *ngIf="urzad !=''">
  <option value="volvo" (click) = "sprawa(0,10)">Wniosek o przyznanie renty</option>
  <option value="saab"(click) = "sprawa(1,15)">Wniosek o wydłużenie zwolnienia</option>
  <option value="opel"(click) = "sprawa(2,5)">Odbiór decyzji</option>
  <option value="audi"(click) = "sprawa(3, 30)">Konsultacja</option>
</select>
</div>
<div class="col-lg-4 col-md-8">
<div style="padding: 40px;">
<button class="btn btn-primary" type="button" *ngIf="urzad !=''">
  Szacowany czas: <span class="badge">{{potrzeba}} min</span>
</button>
</div>
</div>
<div class="col-lg-4 col-md-8"*ngIf="urzad !=''">
    Możliwe godziny:
<div class="list-group">
    <li *ngFor ="let slot of slots" class="list-group-item">{{slot}}</li>
</div>
</div>
</div>


<div class="panel panel-default" *ngIf="potrzeba!=0">
  <div class="panel-body">Lista potrzebnych dokumentów</div>
  <div class="panel-footer">
    <div class="list-group">
        <ul>
            <li class="list-group-item"><span  class="glyphicon glyphicon-ok"></span>
                Dowód osobisty</li>
            <li class="list-group-item"><span  class="glyphicon glyphicon-ok"></span>
                Zaświadczenie od lekarza</li>
            <li class="list-group-item"><span  class="glyphicon glyphicon-ok"></span>
                Odpis aktu małżeństwa</li>
            <li class="list-group-item"><span  class="glyphicon glyphicon-ok"></span>
                Dobry humor</li>
        </ul>
    </div>   
  </div>
</div>
<div style="padding: 40px;"></div>
