
<div class="row" style="padding-top: 20px;">
	<div class="col-md-12 col-lg-9">
		<div class="panel panel-primary">
			<div class="panel-heading">{{ inboxName }}</div>
			<div class="panel-body">
				<div class="panel panel-default">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
							  <tr>
							  	<th>Zaznacz</th>
								<th>Nadawca</th>
								<th>Data</th>
								<th>Temat</th>
								<th>Treść</th>
							  </tr>
							</thead>
							<tbody>
								<tr *ngFor="let msg of message_array">
									<td>
										<input type="checkbox" value="">
									</td>
									<td>{{ msg.from }}</td>
									<td>{{ msg.date }}</td>
									<td>{{ msg.topic }}</td>
									<td>{{ abbreviate(msg.content) }}</td>
								</tr>
							</tbody>
						  </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" style="padding-top: 20px;">
	<div class="col-md-12 col-lg-9">
		<div class="panel panel-primary">
			<div *ngIf="current_message" class="panel-body">
				<div style="border-bottom: 5px;">
					<h5 style="float: right;">{{ current_message.date }}</h5>
					<h5 style="float: left;">Od: {{ current_message.from }}</h5>
					<br>
					<span><h3>Temat: {{ current_message.topic }}</h3></span>
				</div>
				<div class="well">
					{{ current_message.content }}
				</div>
			</div>
		</div>
	</div>
</div>